<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.7.4.67 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_1SPLASH">
  <Property Name="BackColor" Value="252"/>
  <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.hmimgr.HMIColors.ActiveTabColor]"/>
  <Property Name="Description" Value="Default Page"/>
  <Property Name="Height" Value="600"/>
  <Property Name="Index" Value="1"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="600"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="0"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="177154" Value="INITIALIZING SYSTEM PLEASE WAIT..."/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="177154" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="177154" Value="0"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[Intec]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="600"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="1024"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="600"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="0"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Main]"/>
          <Property Name="Width" Value="1024"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="289"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="311"/>
          <Property Name="Width" Value="1024"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder/>
  <TabSequence/>
</Page>