<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.7.4.67 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_44ServiceIOOutputs">
  <Property Name="Description" Value="Default Page"/>
  <Property Name="Height" Value="600"/>
  <Property Name="Index" Value="44"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[MainFrame]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="MainFrame"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[_4XService_SubTabs]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="_4XService_SubTabs"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="600"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="100392" Value=""/>
          <Text ID="100393" Value="X20DO9322a"/>
          <Text ID="100519" Value="UNFORCE ALL"/>
          <Text ID="207615" Value=""/>
          <Text ID="207616" Value="X20DO9322b"/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="100392" Value=""/>
          <Text ID="100393" Value=""/>
          <Text ID="100519" Value=""/>
          <Text ID="207615" Value=""/>
          <Text ID="207616" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="100392" Value="28"/>
          <Index ID="100393" Value="29"/>
          <Index ID="100519" Value="72"/>
          <Index ID="207615" Value="84"/>
          <Index ID="207616" Value="85"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_29">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="352"/>
          <Property Name="Left" Value="162"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ObjectContainer]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="28"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="326"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_30">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="162"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ObjectContainerTitle]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="29"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="326"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="487"/>
          <Property Name="EndY" Value="160"/>
          <Property Name="StartX" Value="162"/>
          <Property Name="StartY" Value="160"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_31">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="256"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="18"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="164"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_32">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="256"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="19"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_33">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="256"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="20"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="244"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_34">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="256"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="21"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="284"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_35">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="256"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="22"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="324"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_36">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="256"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="23"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="364"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_37">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="256"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="24"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="404"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_25">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[0]]"/>
          <Property Name="Left" Value="213"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="164"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_26">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[1]]"/>
          <Property Name="Left" Value="213"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="204"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_27">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[2]]"/>
          <Property Name="Left" Value="213"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="244"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_28">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[3]]"/>
          <Property Name="Left" Value="213"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="284"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_29">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[4]]"/>
          <Property Name="Left" Value="213"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="324"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_30">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[5]]"/>
          <Property Name="Left" Value="213"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="364"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_31">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[6]]"/>
          <Property Name="Left" Value="213"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="404"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_25">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="172"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="166"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable1]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_26">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="172"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="205"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable2]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_27">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="172"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="245"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable3]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_28">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="172"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="285"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable4]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_29">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="172"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="325"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable5]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_30">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="172"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="365"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable6]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_31">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="172"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="405"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable7]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_11">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="216"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="164"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue1]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_12">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="216"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue2]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_13">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="216"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="244"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue3]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_14">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="216"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="284"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue4]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_15">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="216"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="324"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue5]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_16">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="216"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="364"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue6]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_17">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="216"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="404"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue7]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="223"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="72"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="491"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceDisableAll]"/>
          <Property Name="Width" Value="205"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_38">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="256"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="25"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="444"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_32">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[7]]"/>
          <Property Name="Left" Value="213"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="444"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_32">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="171"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="444"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable8]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_28">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="216"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="444"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue8]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_39">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="393"/>
          <Property Name="Left" Value="532"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ObjectContainer]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="84"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="326"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_40">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="25"/>
          <Property Name="Left" Value="532"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ObjectContainerTitle]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="85"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="326"/>
        </Control>
        <Control ClassId="0x0000100D" Name="Line_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="857"/>
          <Property Name="EndY" Value="160"/>
          <Property Name="StartX" Value="532"/>
          <Property Name="StartY" Value="160"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_41">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="626"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="26"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="164"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_42">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="626"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="27"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_43">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="626"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="28"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="244"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_44">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="626"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="29"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="284"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_45">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="626"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="30"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="324"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_46">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="626"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="31"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="364"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_47">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="626"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="32"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="404"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_33">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[12]]"/>
          <Property Name="Left" Value="583"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="164"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_34">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[13]]"/>
          <Property Name="Left" Value="583"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="204"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_35">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[14]]"/>
          <Property Name="Left" Value="583"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="244"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_36">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[15]]"/>
          <Property Name="Left" Value="583"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="284"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_37">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[16]]"/>
          <Property Name="Left" Value="583"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="324"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_38">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[17]]"/>
          <Property Name="Left" Value="583"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="364"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_39">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[18]]"/>
          <Property Name="Left" Value="583"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="404"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_33">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="542"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="165"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable13]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_34">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="542"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable14]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_35">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="542"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="245"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable15]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_36">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="543"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="285"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable16]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_37">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="542"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="325"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable17]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_38">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="542"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="365"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable18]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_39">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="542"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="405"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable19]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_18">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="586"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="164"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue13]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_19">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="586"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue14]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_20">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="586"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="244"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue15]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_21">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="586"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="284"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue16]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_22">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="586"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="324"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue17]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_23">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="586"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="364"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue18]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_24">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="586"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="404"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue19]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_48">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="626"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="33"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="444"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_40">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[19]]"/>
          <Property Name="Left" Value="583"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="444"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_40">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="542"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="444"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable20]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_29">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="586"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="444"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue20]"/>
          <Property Name="Width" Value="266"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_49">
          <Property Name="AlignmentHorizontal" Value="Left"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="626"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[DO_List]"/>
          <Property Name="TextIndexOffset" Value="34"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="483"/>
          <Property Name="Width" Value="224"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_41">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[GrayGreenLED]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.IO.IOForce.data.PhysicalValue[20]]"/>
          <Property Name="Left" Value="583"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="483"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_41">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="542"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[RoundLit]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="483"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceEnable21]"/>
          <Property Name="Width" Value="37"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_30">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="586"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="483"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue21]"/>
          <Property Name="Width" Value="266"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <LayerRef Source="Source[local].Layer[LoadConfirmPopup]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="LoadConfirmPopup"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="3"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Login]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Login"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="4"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Login].Control[Listbox_1]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Right" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[String_1]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Right" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[Login].Control[String_1]"/>
  </TabSequence>
</Page>