<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.7.4.67 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_48ServiceManualMotionValve">
  <Property Name="Description" Value="Default Page"/>
  <Property Name="Height" Value="600"/>
  <Property Name="Index" Value="48"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[MainFrame]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="MainFrame"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[_4XService_SubTabs]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="_4XService_SubTabs"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="600"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="191613" Value="TABLE MOTION"/>
          <Text ID="191615" Value="LEFT ANVIL PLATE LATCH\nRETRACTED"/>
          <Text ID="191616" Value="LEFT ANVIL PLATE LATCH\nEXTENDED"/>
          <Text ID="191617" Value="RIGHT ANVIL PLATE LATCH\nRETRACTED"/>
          <Text ID="191618" Value="RIGHT ANVIL PLATE LATCH\nEXTENDED"/>
          <Text ID="191619" Value="VERITCAL PRESS SUPPORT\nDOWN"/>
          <Text ID="191620" Value="VERITCAL PRESS SUPPORT\nUP"/>
          <Text ID="191621" Value="VERTICAL PRESS VACUUM OFF"/>
          <Text ID="191622" Value="VERTICAL PRESS VACUUM ON"/>
          <Text ID="191623" Value="RIGHT RIVET SINGLUATOR\nRETRACTED"/>
          <Text ID="191624" Value="RIGHT RIVET SINGLUATOR\nEXTENDED"/>
          <Text ID="191625" Value="HORIZONTAL PRESS SUPPORT\nRETRACTED"/>
          <Text ID="191626" Value="HORIZONTAL PRESS SUPPORT\nEXTENDED"/>
          <Text ID="191627" Value="LEFT RIVET SINGULATOR\nRETRACTED"/>
          <Text ID="191628" Value="LEFT RIVET SINGULATOR\nEXTENDED"/>
          <Text ID="191629" Value="HORIZONTAL NEST LEFT\nRETRACTED"/>
          <Text ID="191630" Value="HORIZONTAL NEST LEFT\nEXTENDED"/>
          <Text ID="191631" Value="HORIZONTAL NEST RIGHT\nRETRACTED"/>
          <Text ID="191632" Value="HORIZONTAL NEST RIGHT\nEXTENDED"/>
          <Text ID="191633" Value="EXT"/>
          <Text ID="191634" Value="RET"/>
          <Text ID="191651" Value="EXT"/>
          <Text ID="191652" Value="RET"/>
          <Text ID="191653" Value="LATCHED"/>
          <Text ID="191654" Value="UNLATCH"/>
          <Text ID="191655" Value="EXT"/>
          <Text ID="191656" Value="RET"/>
          <Text ID="191657" Value="UP"/>
          <Text ID="191658" Value="DOWN"/>
          <Text ID="191659" Value="ON"/>
          <Text ID="191660" Value="OFF"/>
          <Text ID="191661" Value="EXT"/>
          <Text ID="191662" Value="RET"/>
          <Text ID="191663" Value="EXT"/>
          <Text ID="191664" Value="RET"/>
          <Text ID="191665" Value="LATCHED"/>
          <Text ID="191666" Value="UNLATCH"/>
          <Text ID="192724" Value="RIVET HEAD STOPPER\nRETRACTED"/>
          <Text ID="192725" Value="RIVET HEAD STOPPER\nEXTENDED"/>
          <Text ID="192726" Value="EXT"/>
          <Text ID="192727" Value="RET"/>
          <Text ID="192728" Value="LEFT VIBRATORY TRACK OFF"/>
          <Text ID="192729" Value="LEFT VIBRATORY TRACK ON"/>
          <Text ID="192730" Value="RIGHT VIBRATORY TRACK OFF"/>
          <Text ID="192731" Value="RIGHT VIBRATORY TRACK ON"/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="191613" Value=""/>
          <Text ID="191615" Value=""/>
          <Text ID="191616" Value=""/>
          <Text ID="191617" Value=""/>
          <Text ID="191618" Value=""/>
          <Text ID="191619" Value=""/>
          <Text ID="191620" Value=""/>
          <Text ID="191621" Value=""/>
          <Text ID="191622" Value=""/>
          <Text ID="191623" Value=""/>
          <Text ID="191624" Value=""/>
          <Text ID="191625" Value=""/>
          <Text ID="191626" Value=""/>
          <Text ID="191627" Value=""/>
          <Text ID="191628" Value=""/>
          <Text ID="191629" Value=""/>
          <Text ID="191630" Value=""/>
          <Text ID="191631" Value=""/>
          <Text ID="191632" Value=""/>
          <Text ID="191633" Value="Text_1"/>
          <Text ID="191634" Value="Text_1"/>
          <Text ID="191651" Value="Text_1"/>
          <Text ID="191652" Value="Text_1"/>
          <Text ID="191653" Value="Text_1"/>
          <Text ID="191654" Value="Text_1"/>
          <Text ID="191655" Value="Text_1"/>
          <Text ID="191656" Value="Text_1"/>
          <Text ID="191657" Value="Text_1"/>
          <Text ID="191658" Value="Text_1"/>
          <Text ID="191659" Value="Text_1"/>
          <Text ID="191660" Value="Text_1"/>
          <Text ID="191661" Value="Text_1"/>
          <Text ID="191662" Value="Text_1"/>
          <Text ID="191663" Value="Text_1"/>
          <Text ID="191664" Value="Text_1"/>
          <Text ID="191665" Value="Text_1"/>
          <Text ID="191666" Value="Text_1"/>
          <Text ID="192724" Value=""/>
          <Text ID="192725" Value=""/>
          <Text ID="192726" Value="Text_1"/>
          <Text ID="192727" Value="Text_1"/>
          <Text ID="192728" Value=""/>
          <Text ID="192729" Value=""/>
          <Text ID="192730" Value=""/>
          <Text ID="192731" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="191613" Value="101"/>
          <Index ID="191615" Value="103"/>
          <Index ID="191616" Value="104"/>
          <Index ID="191617" Value="105"/>
          <Index ID="191618" Value="106"/>
          <Index ID="191619" Value="107"/>
          <Index ID="191620" Value="108"/>
          <Index ID="191621" Value="109"/>
          <Index ID="191622" Value="110"/>
          <Index ID="191623" Value="111"/>
          <Index ID="191624" Value="112"/>
          <Index ID="191625" Value="113"/>
          <Index ID="191626" Value="114"/>
          <Index ID="191627" Value="115"/>
          <Index ID="191628" Value="116"/>
          <Index ID="191629" Value="117"/>
          <Index ID="191630" Value="118"/>
          <Index ID="191631" Value="119"/>
          <Index ID="191632" Value="120"/>
          <Index ID="191633" Value="121"/>
          <Index ID="191634" Value="122"/>
          <Index ID="191651" Value="139"/>
          <Index ID="191652" Value="140"/>
          <Index ID="191653" Value="141"/>
          <Index ID="191654" Value="142"/>
          <Index ID="191655" Value="143"/>
          <Index ID="191656" Value="144"/>
          <Index ID="191657" Value="145"/>
          <Index ID="191658" Value="146"/>
          <Index ID="191659" Value="147"/>
          <Index ID="191660" Value="148"/>
          <Index ID="191661" Value="149"/>
          <Index ID="191662" Value="150"/>
          <Index ID="191663" Value="151"/>
          <Index ID="191664" Value="152"/>
          <Index ID="191665" Value="153"/>
          <Index ID="191666" Value="154"/>
          <Index ID="192724" Value="1"/>
          <Index ID="192725" Value="2"/>
          <Index ID="192726" Value="3"/>
          <Index ID="192727" Value="4"/>
          <Index ID="192728" Value="5"/>
          <Index ID="192729" Value="6"/>
          <Index ID="192730" Value="7"/>
          <Index ID="192731" Value="8"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="Button_21">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_7]"/>
          <Property Name="Font" Value="Source[local].Font[Size12B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="60"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="891"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="101"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="166"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Service6]"/>
          <Property Name="Width" Value="107"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_22">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_8]"/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Immediate"/>
          <Property Name="Left" Value="146"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="PressedTextIndex" Value="104"/>
          <Property Name="PressedTextSource" Value="SingleText"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.SDP.Valves[6]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="103"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="433"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[VK_Valve_7]"/>
          <Property Name="Width" Value="169"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_23">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_9]"/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Immediate"/>
          <Property Name="Left" Value="702"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="PressedTextIndex" Value="106"/>
          <Property Name="PressedTextSource" Value="SingleText"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.SDP.Valves[8]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="105"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="433"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[VK_Valve_9]"/>
          <Property Name="Width" Value="169"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_24">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_10]"/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Immediate"/>
          <Property Name="Left" Value="424"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="PressedTextIndex" Value="108"/>
          <Property Name="PressedTextSource" Value="SingleText"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.SDP.Valves[4]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="107"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="332"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[VK_Valve_5]"/>
          <Property Name="Width" Value="169"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_25">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_11]"/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Immediate"/>
          <Property Name="Left" Value="424"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="PressedTextIndex" Value="110"/>
          <Property Name="PressedTextSource" Value="SingleText"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.SDP.Valves[9]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="109"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="231"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[VK_Valve_10]"/>
          <Property Name="Width" Value="169"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_26">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_12]"/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Immediate"/>
          <Property Name="Left" Value="702"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="PressedTextIndex" Value="112"/>
          <Property Name="PressedTextSource" Value="SingleText"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.SDP.Valves[2]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="111"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="231"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[VK_Valve_3]"/>
          <Property Name="Width" Value="169"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_27">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_13]"/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Immediate"/>
          <Property Name="Left" Value="424"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="PressedTextIndex" Value="114"/>
          <Property Name="PressedTextSource" Value="SingleText"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.SDP.Valves[7]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="113"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="433"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[VK_Valve_8]"/>
          <Property Name="Width" Value="169"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_28">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_14]"/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Immediate"/>
          <Property Name="Left" Value="146"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="PressedTextIndex" Value="116"/>
          <Property Name="PressedTextSource" Value="SingleText"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.SDP.Valves[0]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="115"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="231"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[VK_Valve_1]"/>
          <Property Name="Width" Value="169"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_29">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_15]"/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Immediate"/>
          <Property Name="Left" Value="146"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="PressedTextIndex" Value="118"/>
          <Property Name="PressedTextSource" Value="SingleText"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.SDP.Valves[3]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="117"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="332"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[VK_Valve_4]"/>
          <Property Name="Width" Value="169"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_30">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_16]"/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Immediate"/>
          <Property Name="Left" Value="702"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="PressedTextIndex" Value="120"/>
          <Property Name="PressedTextSource" Value="SingleText"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.SDP.Valves[5]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="119"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="332"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[VK_Valve_6]"/>
          <Property Name="Width" Value="169"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[0]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="199"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="305"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_2">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[1]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="234"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="305"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="146"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="121"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="300"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="264"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="122"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="300"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_3">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[6]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="199"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="406"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_4">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[7]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="234"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="406"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="146"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="139"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="401"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="264"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="140"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="401"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_5">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[12]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="199"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="507"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_6">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[13]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="234"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="507"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="112"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="141"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="502"/>
          <Property Name="Width" Value="85"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="264"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="142"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="502"/>
          <Property Name="Width" Value="88"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_7">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[14]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="477"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="507"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_8">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[15]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="512"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="507"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="424"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="143"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="502"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="542"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="144"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="502"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_9">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[8]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="477"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="406"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_10">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[9]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="512"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="406"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="424"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="145"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="401"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="542"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="146"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="401"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_11">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[18]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="477"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="305"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_12">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[19]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="512"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="305"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_11">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="424"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="147"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="300"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_12">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="542"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="148"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="300"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_13">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[4]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="755"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="305"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_14">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[5]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="790"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="305"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_13">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="702"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="149"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="300"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="820"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="150"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="300"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_15">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[10]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="755"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="406"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_16">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[11]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="790"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="406"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="702"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="151"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="401"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="820"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="152"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="401"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_17">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[16]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="756"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="507"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_18">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[17]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="791"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="507"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="662"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="153"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="502"/>
          <Property Name="Width" Value="92"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="821"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="154"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="502"/>
          <Property Name="Width" Value="89"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_31">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_17]"/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Immediate"/>
          <Property Name="Left" Value="424"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="PressedTextIndex" Value="2"/>
          <Property Name="PressedTextSource" Value="SingleText"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.SDP.Valves[1]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="1"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="132"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[VK_Valve_2]"/>
          <Property Name="Width" Value="169"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_19">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[2]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="477"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="206"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_20">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.IO.ValvePositions[3]]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[GreyGreen]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="512"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="206"/>
          <Property Name="Width" Value="22"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="424"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="201"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_20">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="542"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="4"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="201"/>
          <Property Name="Width" Value="51"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_32">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_18]"/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Immediate"/>
          <Property Name="Left" Value="146"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="PressedTextIndex" Value="6"/>
          <Property Name="PressedTextSource" Value="SingleText"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.SDP.Valves[10]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="5"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="132"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[VK_Valve_11]"/>
          <Property Name="Width" Value="169"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_33">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_22]"/>
          <Property Name="Font" Value="Source[local].Font[Size11B]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="68"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="KeyMode" Value="Immediate"/>
          <Property Name="Left" Value="702"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="PressedTextIndex" Value="8"/>
          <Property Name="PressedTextSource" Value="SingleText"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.SDP.Valves[11]]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="7"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="132"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[VK_Valve_12]"/>
          <Property Name="Width" Value="169"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <LayerRef Source="Source[local].Layer[LoadConfirmPopup]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="LoadConfirmPopup"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="3"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Login]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Login"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="4"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[Login].Control[Listbox_1]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Right" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[String_1]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Right" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[Login].Control[String_1]"/>
  </TabSequence>
</Page>