<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.7.4.67 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="_85SysAxisSetupLimits">
  <Property Name="Description" Value="Default Page"/>
  <Property Name="Height" Value="600"/>
  <Property Name="Index" Value="85"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[MainFrame]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="MainFrame"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[_8XSys_SubTabs]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="_8XSys_SubTabs"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="SoftwareLimits_linear">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="600"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.Axis.AxisSetupLimitsSWLinearSDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="97678" Value="SOFTWARE LIMIT -"/>
          <Text ID="97679" Value="SOFTWARE LIMIT +"/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="97678" Value=""/>
          <Text ID="97679" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="97678" Value="0"/>
          <Index ID="97679" Value="1"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="522"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="354"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="522"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="1"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="417"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_10">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="654"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="418"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Visualization.hmimgr.AxisConfig_linear.Mapp.Axis.SoftwareLimitPositions.UpperLimit]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_11">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="654"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="355"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Visualization.hmimgr.AxisConfig_linear.Mapp.Axis.SoftwareLimitPositions.LowerLimit]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="LagError_linear">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="600"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.Axis.AxisSetupLimitsLagErrorLinearSDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="97671" Value="LAG ERROR LIMIT"/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="97671" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="97671" Value="3"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="522"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="292"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="654"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="293"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Visualization.hmimgr.AxisConfig_linear.Mapp.Axis.MovementLimits.PositionErrorStopLimit]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="VelocityAccel_linear">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="600"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.Visualization.HMI.Axis.AxisSetupLimitsVelAccLinearSDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="4"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="97706" Value="ACCEL/DECEL LIMIT"/>
          <Text ID="97707" Value="VELOCITY LIMIT"/>
        </TextLayer>
        <TextLayer LanguageId="es">
          <Text ID="97706" Value=""/>
          <Text ID="97707" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="97706" Value="5"/>
          <Index ID="97707" Value="6"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="654"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="168"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Visualization.hmimgr.AxisConfig_linear.Mapp.Axis.MovementLimits.VelocityPositive]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="522"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="229"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="522"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="167"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_9">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="653"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="230"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.Visualization.hmimgr.AxisConfig_linear.Mapp.Axis.MovementLimits.Acceleration]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="600"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="5"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="es"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001008" Name="Listbox_3">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="ButtonsSlider" Value="Never"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="150"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.Visualization.hmimgr.axisconfigindex]"/>
          <Property Name="Left" Value="19"/>
          <Property Name="LeftBitmap" Value="None"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[AxisList]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="169"/>
          <Property Name="Width" Value="351"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.Alarms.alarmmgr.AlarmBanner_CDP]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="45"/>
          <Property Name="Height" Value="50"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.Visualization.hmimgr.axisconfigindex]"/>
          <Property Name="Left" Value="15"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="SAMPLE ALARM BANNER"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[NotificationText]"/>
          <Property Name="TextDatapoint" Value="Source[global].Variable[DataSource.Alarms.alarmmgr.LimitText]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleStrings"/>
          <Property Name="Top" Value="319"/>
          <Property Name="Width" Value="358"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <LayerRef Source="Source[local].Layer[LoadConfirmPopup]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="LoadConfirmPopup"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="6"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[Login]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Login"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="7"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_10]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Up" Value="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_11]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_11]">
      <Property Name="Down" Value="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_10]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_10]"/>
      <Property Name="Up" Value="Source[embedded].Layer[LagError_linear].Control[Numeric_12]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[LagError_linear].Control[Numeric_12]">
      <Property Name="Down" Value="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_11]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[String_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_8]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Up" Value="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_10]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_9]">
      <Property Name="Down" Value="Source[embedded].Layer[LagError_linear].Control[Numeric_12]"/>
      <Property Name="Left" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Listbox_3]">
      <Property Name="Down" Value="Source[local].Layer[Login].Control[String_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_8]"/>
      <Property Name="Right" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
      <Property Name="Up" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[Listbox_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Right" Value="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_9]"/>
      <Property Name="Up" Value="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_8]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Login].Control[String_1]">
      <Property Name="Down" Value="Source[embedded].Layer[LagError_linear].Control[Numeric_12]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
      <Property Name="Right" Value="Source[embedded].Layer[LagError_linear].Control[Numeric_12]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Listbox_3]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[LagError_linear].Control[Numeric_12]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_10]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[SoftwareLimits_linear].Control[Numeric_11]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_8]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[VelocityAccel_linear].Control[Numeric_9]"/>
    <TabSeqItem Index="6" Value="Source[local].Layer[Login].Control[Listbox_1]"/>
    <TabSeqItem Index="7" Value="Source[local].Layer[Login].Control[String_1]"/>
  </TabSequence>
</Page>